/* this is a comment */

/* ******************************** */
/* html: elements */
/* ******************************** */

* {
    text-decoration: none;
}

body {
    margin:0;
    font-family: "robotoblack";
}

aside {
    background-color:#faf1ed;
    padding: 20px 0px;
}

section {
    width:82%;
    margin: 10px auto;
}

h1 {
    font-size:54px;
    font-weight:bold;
    font-family: "robotoblack";
}

h2 {
    font-size:28px;
    font-family: "robotoblack";
}

h4 {
    font-size:24px;
    font-family: "robotoblack";
}

h5 {
    font-size:13px;
    font-family: "robotoblack"; 
}

h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

img {
    width:100%;
    transition: 150ms;
}

img:hover{
    filter:brightness(90%);
    cursor:pointer;
}

/* ******************************** */
/* logo */
/* ******************************** */

#tripadvisor {
    width: 240px;
    height:50;
}


#tripadvisor:hover {
    cursor:pointer;
    filter:brightness(100%);
}

#tripadvisor-logo {
    width: 40px;
}

#tripadvisor-logo {
    filter:brightness(100%)
}


/* ******************************** */
/* global space */
/* ******************************** */

.section-spacing {
    margin-top:68px;
}

/* ******************************** */
/* header */
/* ******************************** */

/* header => path to section */
header > section {
    display: flex;
    justify-content: space-between; /* horizontal */
    margin-top:10px;
}
#responsiveheader{display:none}


/* header => path to section => path to nav */

header{
    width:100%;
}
header > section > nav {
    display: flex;
}

header nav div {
    display: flex;
    align-items: center; /* vertical */
}

header a {
    color: #000;
    font-weight:bold;
    font-size: 15px;
    margin-left: 5px;
}

#sign-in {
    border:none;
    background-color: rgb(4, 73, 223);
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    padding: 12px 16px;  /* padding : 12px 16px 12px 16px */
    transition: 200ms linear;
    font-family: "robotomedium";
}

#sign-in:hover{
    background-color: rgb(59, 113, 231);
    cursor:pointer;
}

header > section > nav > div, button {
    margin-left:15px;
}

header > section > nav > div{
    padding:3px 10px 3px 10px;
}

header > section > nav > div:hover{
    background-color: rgb(223, 223, 223);
    transition: 190ms linear;
    border-radius:300px;
    cursor:pointer;
}

/* added */

header > section > div {
    display:flex;
    gap:23px;
}

header > section > div > input{
    border-radius: 400px;
    width:351px;
    height:44px;
    padding-left:40px;
    padding-right:10px;
    font-size: 20px;
    outline:none;
    border: 3px solid rgb(83, 123, 209);
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

header > section > div > svg{
    position:absolute;
    top:19px;
    margin-left:272px;
    width:25px;
    height:25px;
    background:none;
    color: rgb(38, 93, 212);
}
/* ******************************** */
/* main */
/* ******************************** */

main > section:first-child {
    margin-top:40px;
    font-family: "robotoblack";
}

main > section:first-child > h1 {
    font-size:60px;
    margin-bottom:30px;
}

/* ******************************** */
/* main: h1 explore */
/* ******************************** */

#explore {
  color: rgb(22, 84, 216);
}

/* ******************************** */
/* main: main-navigation */
/* ******************************** */

.main-navigation {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-navigation > div {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex:23%; /* minimal width */
    border: 1px solid #000; /* border-width; 1px; border-style: solid; border-color: #000; */
    border-radius: 10px;
    box-sizing: border-box; /* same size */
    padding: 0.2px 16px;
    margin-right: 8px;
    margin-bottom: 10px;
    transition: 140ms linear;
}
.main-navigation > div:hover{
    background-color:rgb(4, 73, 223);
    cursor:pointer;
    color:white;
}

.main-navigation > div > p{
    padding-top:14px;
}

/* ******************************** */
/* main: images */
/* ******************************** */

/* selector :hover, :focus, :first-child, :last-child, :nth-child  */

.images {
    display:flex;
    margin-top:12px;
    height:430px;
}

.images div img{
    transition: 150ms linear;
}

.images div img:hover{
    filter: brightness(80%);
}

.images div:first-child {
    width:60%;
    height:100%;
    margin-right:2px;
}

.images div:first-child img {
    height:100%;
    object-fit:cover; /* crop the image to fill the box (no stretching nor change of the size) */
    cursor:pointer;
}

.images div:last-child {
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:3px;
}

.images div:last-child img {
    height:49.7%;
    object-fit:cover; /* crop the image to fill the box (no stretching nor change of the size) */
    cursor:pointer;
}

#all-images-button {
    position:absolute;
    align-content: center;
    bottom:23px;
    left:14px;
    display:flex;
    justify-content: center;
    padding-top:5px;
    background-color:rgb(4, 73, 223);
    color:#fff;
    border-radius: 20px;
    font-size:12px;
    width:140px;
    height:30px;
    transition: 150ms linear;
}

.images div{
    position:relative
}


#all-images-button:hover {
    background-color:rgb(59, 113, 231);
    cursor: pointer;

}

#all-images-button p {
    margin-top:9px;
    text-align: center;
    font-size:14px;
}


/* ******************************** */
/* main: sub-navigation */
/* ******************************** */

.flex {
    display:flex;
    align-items: center;
}

.sub-navigation {
    display:flex;
    justify-content: space-between;
    font-family: "robotolight";
    color:#333;
    font-size:12px;
    margin-top: 5px;
}

.sub-navigation a {
    color:#333;
}

.sub-navigation a:hover {
    text-decoration:underline;
}

.sub-navigation .icon {
    margin-left:4px;
    margin-bottom:20px;
}

/* ******************************** */
/* main: description */
/* ******************************** */

.description {
    width:60%;
}

.description p {
    color:#333;
    font-family: "robotolight";
    font-size:20px;
    line-height:24px;
}


/* ******************************** */
/* main: travel advice */
/* ******************************** */

.travel-advice {
    font-family: "robotoblack";
}

.travel-advice-container > div {
    display:flex;
    justify-content: space-between;
}

.travel-advice-container img {
    width: 88px;
    height: 80px;
}

.travel-advice > div {
    display: flex;
    align-items: center;
    flex: 1;
    border:2px solid rgb(211, 211, 211);
    border-radius: 15px;
    margin-right:15px;
    padding: 0px 20px;
    cursor:pointer;
}



.travel-advice > div:hover {
    background-color: rgba(211, 211, 211, 0.3);
}

.travel-advice > div > p {
    font-size:16px;
    padding-top:13px;
}

/* ******************************** */
/* main: essential */
/* ******************************** */

.essential-container {
    display:flex;
    margin-bottom:70px;
}

.essential-container > div:first-child {
    width:25%;
    padding-right:10px;
}

.essential-container > div:last-child {
    width:75%;
}

.essential-container p {
    color:#333;
    font-family: "robotolight";
    font-size:18px;
    line-height:24px;
}

.essential-container a {
    color:#333;
    font-size:16px;
    text-decoration: underline;
}

.essential-container .essential {
    display:flex;
}

.essential-reviews, .essential-reviews-number, .essential h5 {
    margin: 2px 0px;
}



/* .essential-container .essential > div {margin-right:15px} */
/* .essential-container .essential > div:last-child {margin-right:0px}*/
.essential-container .essential > div:not(:last-child) {
    margin-right:15px;
}

.essential img {
    width: 270px;
    height: 205px;
    margin-bottom:8px;
    object-fit:cover; /* crop the image to fill the box (no stretching nor change of the size) */
    cursor:pointer;
}

.essential-icon {
    color:#00aa6c;
    margin-right: 6px;
}

.essential-reviews {
    font-size:15px;
    font-family: "robotolight";
}

.essential-reviews-number {
    font-size:13px;
    font-family: "robotolight";
}

/* ******************************** */
/* main: dig into */
/* ******************************** */

aside > section {
    margin-left:auto;
    margin-right:auto;
}

.subtitle {
    font-family: "robotolight";
}

.dig-into-container {
    
    display: flex;
}

.dig-into-container > div:not(:last-child) {
    margin-right: 15px;
}

.dig-into-container a {
    color:#000;
}

.dig-into-container a:hover {
    text-decoration:underline;
}

.dig-into-container a:hover {
    text-decoration: underline;
}

.dig-into-cell {
    width: 429px;
    height: 363px;
    background-color:#fff;
    text-align:center;
}

.dig-into-image {
    height: 232px;
    background-position: center; 
    background-size:cover;
    display:flex;
    justify-content: flex-end;
}

.imagediginto{
    height:232px;
    object-fit: cover;
}

#dig-into-image-01 {
    background-image: url('../img/morioh/dig_into_01.png')
}

#dig-into-image-02 {
    background-image: url('../img/morioh/dig_into_02.png')
}

#dig-into-image-03 {
    background-image: url('../img/morioh/dig_into_03.png')
}

.dig-into-link {
    padding: 0px 15px;
}

.dig-into-link-main {
    font-size:18px;
}


/* ******************************** */
/* main: dig into */
/* ******************************** */

.great-for {
    display:flex;
    width:100%;
    height:450px;
}

.great-for > div:not(:last-child) {
    margin-right: 10px;
}

.great-for img {
    width:100%;
    height: 60%;
    object-fit: cover;
    cursor:pointer;
}

/* ******************************** */
/* footer */
/* ******************************** */


footer {
    width:100%;
    background-color:#faf1ed;
    position:absolute;
}

footer > section {
    width:80%;
}

footer p {
    color:#333;
    font-size:12px;
    font-family: "robotolight";
    margin:0px;
    padding-bottom:6px;
}

footer a {
    color:#333;
    font-size:15px;
    font-weight:bold;
    text-decoration: underline;
    margin-right:15px;
}

.copyright-and-link {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left:18px;
}

#notice {
    padding: 8px 0px;
}

#more {
    color:#333;
    font-size:12px;
    font-family:"robotolight";
    text-decoration: none;
}

#more:hover {
    text-decoration: underline;
}

footer select {
    border: 2px solid rgb(211, 211, 211);
    border-radius: 15px;
    width: 180px;
    height: 35px;
    font-size: 15px;
    padding: 0px 10px;
}

#currency-and-country {
    margin-top:-40px;
}


/* carousel */

.carouselincontournables{
display:flex;
gap:10px;
}

.carousel-control-prev, .carousel-control-next{
    margin-bottom:60px;
}


.prev2,.next2{
    position:absolute;
    top:91px;
    margin-left:10px;
    border-radius:100%;
    border:none;
    padding:20px;
    padding-left:24px;
    padding-right:24px;
    z-index: 10;
    outline:none;
    transition:180ms linear;
    background-color:white ;
    color:rgb(4, 73, 223);
}

.prev2:hover,.next2:hover{
    background-color:rgb(4, 73, 223);
    color:white;
}

.carouselincontournables > div > div > img{
    width:320px;
    object-fit:cover;
}

#carousel4 > a > div{
    margin-top:30px;
}

#carousel4 > a{
    margin-bottom:120px;
}

#carousel4 > div > div > div > div{
    height:500px;
    width:100%
}


#mainnavcarousel{
    display:none;
}


/* RESPONSIVE */

/* big screen */

@media only screen and (min-width:1404px){


    footer > section  {
        margin-left:auto;
        margin-right:auto;
        max-width:1300px;
        position:relative;

    }


    header > section {
        width:1300px;

    }

    .description > p{
        width:700px;
        
    }

    .images > div > img:nth-child(n+0){
        width: 100%
    }

    #firstimage{
        width:100%
    }


    main{
        width:100%;
    }

    main > section {
        margin-left:auto;
        margin-right:auto;
        max-width:1300px;
    }

    aside{
        width:100%
    }

    aside > section{
        margin-left:auto;
        margin-right:auto;
        max-width:1300px;
    }
}

@media only screen and (max-width:1586px){
    header > section{
        width:83%;
    }

    #carousel2{
        width:100%
    }

    #carousel3{
        width:100%;
    }

    .carouselincontournables > div{
        width:100%;
    }


    .carouselincontournables > div > div > img{
        width:100%;
    }


}


/* header responsive */

@media only screen and (max-width:1380px){

    #sign-in{
        height:43px;
        width:143px;
    }
}

@media only screen and (max-width:1310px){
    
    header > section > nav > div > a{
        display:none;
    }

    

}

@media only screen and (max-width:1125px){
    header > section > div > input{
        width:100%;
    }
}

@media only screen and (max-width:903px){
    header > section > nav{
        display:none;
    }

    header > section > div {
        display:none;
    }

    #responsiveheader{
        display:block;
        display:flex;
        justify-content: space-between;
    }

    #responsiveheader > svg:first-child{
        width:30px;
        height:30px;
        margin-left:30px;
        margin-top:5px;
    }

    #responsiveheader > svg:last-child{
        width:30px;
        height:30px;
        margin-right:30px;
        margin-top:5px;
    }

    #responsiveheader > svg:hover{
        cursor:pointer;
    }

}

/* nav responsive */


@media only screen and (max-width:903px){

    main > section > h1 {
        margin-left:34px;
    }

    main > section > h1 > span{
        font-size:40px;
    }

    main > section{
        width:100%
    }
    .main-navigation{
    display:none
    }   

    #mainnavcarousel {
    display:block;
    height:auto;
    width:100%;
    margin-left:auto;
    margin-right:auto;

    }

    
    #mainnavcarousel div > div > div {
        margin-left:16px;
        margin-right:auto;
        width:93%;
        display:flex;
        justify-content: space-between;
    }
    #mainnavcarousel div > div > div > div{

        border: 1px solid black;
        align-items: center;
        display:flex;
        border-radius: 10px;
        padding: 0.2px 16px;
        
    }
    #mainnavcarousel div > div > div > div > p{
        margin-top:13px;
        
    }

    #mainnavcarousel > a > div{
        background-color: rgba(0, 41, 226, 0.15);
        padding:15px;
        padding-left:20px;
        padding-right:20px;
    }

    #mainnavcarousel > a > div:hover{
        color:rgb(0, 0, 0);
    }

    #mainnavcarousel > a > .prev2{
        position:absolute;
        top:0px;
        left:0px;
    }

    #mainnavcarousel > a > .next2{
        top:0px;
        right:10px;
    }
    

}

@media only screen and (max-width:723px){
    #mainnavcarousel > a > .prev2{
        position:absolute;
        top:10px;
    }
    #mainnavcarousel > a > .next2{
        position:absolute;
        top:10px;
    }
    #mainnavcarousel div > div > div > div{
        height:76.975px;
    }
}



/* under nav responsive */

@media only screen and (max-width:903px){
 .images > div:last-child{
     display:none;
 } 
 .images > div:first-child{
    width:100%;
    height:300px;
    }

  .sub-navigation{display:none;}
  
  .description{
    padding-left:30px;
    width:98%;
    }
}
@media only screen and (max-width:1235px){
    .images > div:first-child{
       height:300px;
    }
    .images > div:last-child{
        height:300px;
     }

    .images {
        height:auto;
    }
    
    
}

/* astuces de voyage responsive */
@media only screen and (max-width:1136px){

    .travel-advice{
        flex-wrap:wrap;
    }

    .travel-advice > div {
        margin-bottom:10px;
    }
    
}
@media only screen and (max-width:903px){
    .section-spacing{
        padding-left:30px;
    }

    
}

/* carousel responsive */

@media only screen and (min-width:903px){
    .essential-container > div > h4, .essential-container > div > p{
        word-break: keep-all;
    }
}

@media only screen and (max-width:1085px){
    #carousel4 > div > div > div > div:first-child{
        display:none;
    }
}
@media only screen and (max-width:903px){
.carouselincontournables > div:last-child{
    display:none;
}

.essential-container > div:last-child {
    width:100%;
}
.essential-container{
    display:flex;
    flex-direction: column;
}

.essential-container > div:first-child{
    width:100%
}

.essential-container .essential{
    display:inline;
}

}

/* discover green hill responsive and transformation into carousel*/
@media only screen and (max-width:700px){
    .dig-into-container{
        display:none;
    }

    #carouseldiscover{
        display:block;
    }

    .dig-into-cell{
        width:100%
    }

    aside > section{
        width:100%;
        padding-left:30px;
    }



}

@media only screen and (min-width:700px){
    #carouseldiscover{
        display:none;
    }
}

@media only screen and (max-width:1025px){
    aside > section > div > div > div:last-child{
        display:none;
    }

    #carouseldiscover> a{
        margin-top:15px;
    }
}

@media only screen and (max-width:903px){
    aside > section{
        width:100%;
        padding-left:30px;
    }
    .underline{
        color:black;
    }
    .dig-into-link-main{
        color:black;
    }

}

/* footer responsive */
@media only screen and (min-width:903px){
     .copyright-and-link > div:nth-child(1) {
        display:none;
    }

    
    
}
@media only screen and (max-width:903px){

    footer > section{
        width:100%;
    }

    footer > section > div:last-child{
        display:none;
    }

    footer > section > div{
        width:100%;

    }   

    footer > div:first-child {
        display:block;
    }

    .copyright-and-link{
        margin-top:60px;
    }

    #currency-and-country > select {
        width:500px;
        right:500px;
    }
    #currency-and-country{
        gap:10px;
        position: absolute;
        width:90%;
        left:30px;
    }

    .flex > div > div > div:first-child{
        margin-top:60px;
        padding-left:30px;
    }

    #notice{
        padding-left:30px;
    }
    
}

/* and finally the hearts */

.heart{
    position: absolute;
    padding:10px;
    width:50px;
    height: 50px;
    background-color: white;
    z-index: 10000;
    border-radius: 1000px;   
    transition: 300ms;
    margin-top:10px;
    margin-right:10px; 
}

.heartgap{
    position:absolute;
    margin-right:60px;
    
}

.heart:hover{
    background-color: rgba(255, 255, 255, 0.726);
    cursor:pointer;
}

.box {
    display: flex;
    justify-content:end;
}